<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="wrapper">
        <h1>Results page</h1>
        <div class="content">
            <section>
                <span>Name:</span>
                <span>@ViewBag.name</span>
            </section>
            <section>
                <span>Dojo Location:</span>
                <span>@ViewBag.dojoLoc</span>
            </section>
            <section>
                <span>Favorite Language:</span>
                <span>@ViewBag.favLang</span>
            </section>
            <section>
                <span>Comments:</span>
                <span>@ViewBag.comments</span>
            </section>
            <a href="/"><button>Go Back</button></a>
        </div>
    </div>
</body>
</html>