@using DojoSurveyWithModel.Models
@model Survey

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <h1>Results here</h1>
        <div class="content">
            <section>
                <span>Name:</span>
                <span>@Model.Name</span>
            </section>
            @Model
        </div>
    </div>

</body>
</html>