<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    |
                </li>
                <li>
                    <a href="/projects">Projects</a>
                </li>
                <li>
                    |
                </li>
                <li>
                    <a href="/contacts">Contacts</a>
                </li>
            </ul>
        </nav>
        <div class="wrapper">
            <h2>About me</h2>
            <div class="wrapper-column">

                <div class="wrapper-left">
                    <img class="moose" src="~/img/moose.webp" alt="moose-philips">
                    <p>Moose Philips</p>
                    <p>I Like this stuff!</p>
                </div>
                <div class="wrapper-right">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas placeat ex non et, odit praesentium quam maiores. Quibusdam illo, excepturi sapiente, sit blanditiis qui officiis quasi, omnis tenetur eveniet consequuntur!
                </div>
            </div>
        </div>
    </body>
</html>
